/* colorPrimaryBlue #1B5299
colorPrimaryDark #103E78
colorAccent #103E78
bluelossOffWhite #F9F9F9
bluelossGrey #757575
bluelossDarkerGrey #717171
bluelossTextColor #CC000000
bluelossGreyBackground #eeeeee
bluelossBlue2 #3866A0
bluelossTextColorLight #66000000 */

body {
  display: flex;
  background-color: #F9F9F9;
  font-family: 'Open Sans';
  outline: 1px solid green;
}

#sidebar {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
  border-right: 1px solid #757575;
}

#sidebar a {
  display: flex;
  text-decoration: none;
  color:#757575;
  font-size: 1.2em;
  padding: 20px;
  align-items: center;
}

#sidebar a:not(:first-child) {
  border-bottom: 1px solid #757575;
}

#sidebar a:hover .tabText {
  color:#1B5299;
}

#sidebar a:hover svg {
  fill:#1B5299;
}

#sidebar svg {
  height: 40px;
  fill:#757575;
}

#navigation {
  flex-grow: 0;
  flex-shrink: 0;
}

#sidebarBottomSpacer{
  height: 100%;
  flex-grow: 1;
}

#homeTab {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  border-bottom: 2px solid #1B5299;
  background-color: #FFFFFF;
  height: 64px;
}

#homeTab svg {
  height: 32px;
  /* margin-right: 4px; */
  /* margin-left: 2px; */
  /* fill:#1B5299; */
}

#windowsTab svg {
  height: 44px;
  margin-right: 4px;
  margin-left: 2px;
}

#androidTab svg {
  height: 30px;
}

#sidebar .tabText {
  margin-left: 10px;
}

#mainWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#header {
  height: 64px;
  font-family: 'Lato';
  font-size: 28px;
  display: flex;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  border-bottom: 2px solid #1B5299;
  background-color: #FFFFFF;
  flex-shrink: 0;
}

#logo {
  display: flex;
  flex-grow: 1.22;
  justify-content: center;
}

#headerIcon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 2px;
}

#headerIcon > img {
  padding-top: 4px;
  height: 40px;
  padding-right: 13px;
 }

#headerText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #1B5299;
}

main > * {
  max-width: 600px;
  margin: 25px auto;
  display: block;
  margin-top: 50px;
}

main h1, main h2, main h3{
  color: #414141;
}

main p {
  color: rgba(0, 0, 0, 0.8);
  font-size:1.1em;
  line-height: 1.5em;
}

main a {
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

#installationHeader{
  margin-top: 40px;
}

main ul {
  margin-top: 0;
}

main ul li p {
  margin-top: 6px;
  margin-bottom: 6px;
}

main ul li ul li {
  margin-top: 8px;
  margin-bottom: 8px;
}

main h2 + p{
  margin-top: 2px;
}

main h3 + p{
  margin-top: 2px;
}

main p + p{
  margin-top: 2px;
}

main a + p {
  margin-top: 4px;
}

main p + a {
  margin-top: 4px;
}

#coffeeDonate span{
  display: block;
  margin-bottom: 10px;
}

#bitcoinDonate span{
  display: block;
  margin-bottom: 10px;
}

#bitcoinDonate span:nth-child(2){
  font-size: 0.8em;
}

main > *:last-child {
  margin-bottom: 100px;
}
